<ion-header>
  <ion-navbar>
    <ion-title>
      Debug
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Table: {{selectedTable.id}}
  <ul>
    <li *ngFor="let displayItem of displayItems">
      {{displayItem.label}} - {{displayItem.price}} EUR x {{displayItem.count - displayItem.payedCount}} ({{displayItem.count}})
    </li>
  </ul>

  <button>Add item</button>
  <button>Bill</button>
  <br>
  Total = {{total}} EUR <br>
  Left to pay = {{leftToPay}} EUR
  
  <br><br><br>

  Tables:
  <ul>
    <li *ngFor="let table of tables">
      {{table.id}}
      <ul>
        <li *ngFor="let item of table.items">
          {{item.id}}, {{item.label}}, {{item.price}} EUR
        </li>
      </ul>
    </li>
  </ul>
  Products:
  <ul>
    <li *ngFor="let product of products">
      {{product.id}}, {{product.label}}, {{product.price}} EUR
    </li>
  </ul>
  <!--TableId: <input #tableId (keyup.enter)="addItemToTable(tableId.value, productId.value)"><br>
  ProductId: <input #productId (keyup.enter)="addItemToTable(tableId.value, productId.value)">
  <button (click)="releaseOrder(tableId.value)">Release Order</button> -->
</ion-content>